
<section>
    <div>
<img src="/a/2016/images/devfestmn.caf3a594.svg" style="width:40%;max-width:400px;min-width:250px;" alt="DevFestMN Logo">
    </div>
	<h2>Sponsorship</h2>

    <div class="callout">1 Day<br/>200+ Attendees</div>
    <div><a href="/a/2019/2019-devfest-sponsor.pdf" style="padding:16px;background-color:#2baadf;color:white;border-radius:8px;font-weight:bold;margin-bottom:32px;display:inline-block;">Download the Sponsor Information Sheet</a></div>

	<p>
	After five years of success, DevFestMN has been established as one of the
best developer and tech community events in the Twin Cities. Last year we
sold out our event at over 500 tickets. We will be hosting a DevFestMN Focus: ML + AI event on September 27th, 2019 and we would love to have you join us as a
sponsor. </p>
<p>
By helping support DevFestMN we can place your company's name and face
prominently in front of the 2500+ members of our Google Developer
Group - Twin Cities Meetup group, 1000+ individuals who have attended past
events, as well as the hundreds of new attendees that will be present at
our upcoming 2019 DevFestMN event. DevFestMN attendees consist of self
selecting local developers, designers, students, managers and entrepreneurs
interested in our technology topics covered by our event, including
Android, Cloud DevOps, Web, Design, and Entrepreneurship.
</p>

<p>
Another great way to get your company's name in the forefront of our
attendees is to have your team members join as one of our DevFestMN
presenters. When we announce our call for speakers, please encourage your
team to submit a topic. We also always encourage volunteer support,
particularly this year as we plan for our expected growth.
	</p>

    <p>For more information download the <a href="/a/2019/2019-devfest-sponsor.pdf">Sponsor Information Sheet</a> or get in touch with
        Lloyd Lentz <a href="mailto:cledwyn@gmail.com">cledwyn@gmail.com</a> directly or email us at <a href="mailto:sponsorship@devfest.mn" >sponsorship@devfest.mn</a>.
</section>
