.speakerlist{
    display: block;
    list-style: none;
}
.speakerlist li img{
    float: left;
    margin: 0 15px 0 0;
    height: 35px;
}
.speakerlist li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.speakerlist li {
  padding: 10px;
  overflow: auto;
}

.bigspeakerlist{
    float:left;
    display: block;
    height: 8em;
    width: 345px;
    margin: 3px;
    border-radius: 2px;
    border:1px solid #CCC;
    padding:16px;
}
.bigspeakerlistdeets {
    float: right;
    width: 250px;
    overflow: hidden;
    height: 6em;
}

.bigspeakerlistimg img {
    width: 50px;
    /*margin-right: 20px;*/
}
.bigspeakerlistimg {
    float: left;
}


.bigschedulelist{
    float:left;
    display: block;
    height: 12em;
    width: 345px;
    margin: 3px;
    border-radius: 2px;
    border:1px solid #CCC;
    padding:4px;    
    overflow: hidden;
}
.bigschedulelist h2 {
    font-size: 1.1em;
}

.bigsschduledeets{
    
}

.Keynote, .Keynote h2 {
    background: #189aaa;
    color: white;
    width: 100%;
    }
.Android {background: #70E85F;}
.Web {background: #5FC9E8;}
.Design {background: #75FFC3;}
.Cloud  {background: #F8FF68;}
.IoT {background: #8C9DFF;}
.all {width: 100%;}