.speakerlist{
    display: block;
    list-style: none;
}
.speakerlist li img{
    float: left;
    margin: 0 15px 0 0;
    height: 35px;
}
.speakerlist li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.speakerlist li {
  padding: 10px;
  overflow: auto;
}

.bigspeakerlist{
    float:left;
    display: block;
    height: 8em;
    width: 345px;
    margin: 3px;
    border-radius: 2px;
    border:1px solid #CCC;
    padding:16px;
}
.bigspeakerlistdeets {
    float: left;
}

.bigspeakerlistimg img {
    width: 50px;
    margin-right: 20px;
}
.bigspeakerlistimg {
    float: left;
}