<section>
	  <div class="callout">Current Schedule</div>
    <h2 class="schedule-announcement">Schedule times and rooms will be updated often. <br />This page will be the most current and accurate.</h2>
    <h3 style="margin-top: 17px;">Track Legend</h3>
    <div id="track-legend">
        <div class="Keynote-leg" (click)="updateTrack('Keynote')">Keynote</div>
        <div class="Android" (click)="updateTrack('Android')"><md-icon>android</md-icon>Android</div>
        <div class="Web" (click)="updateTrack('Web')"><md-icon>web</md-icon>Web</div>
        <div class="Cloud" (click)="updateTrack('Cloud')"><md-icon>cloud</md-icon>Cloud</div>
        <div class="Design" (click)="updateTrack('Design')"><md-icon>create</md-icon>Design</div>
        <div class="IoT" (click)="updateTrack('IoT')"><md-icon>router</md-icon>IoT</div>
    </div>
    <div *ngIf="auth.uid | async">
        <button (click)="filteredSlots = myAgenda" md-raised-button [color]="filteredSlots == myAgenda ? 'primary' : ''">My Agenda</button>
        <button (click)="filteredSlots = allSessions" md-raised-button [color]="filteredSlots == myAgenda ? '' : 'primary'">Full Schedule</button>
    </div>
    <div *ngFor="let time of (allSessions | async)?.slots" class="timeslot-block">
        <div class="timeslot-header cta all-caps">{{ ds.customDateFormatter(time)}}</div>
        <div class="schedule-timeslot-container">
          <div *ngFor="let session of (filteredSlots | async)?.sessions[time]" 
               class="bigschedulelist {{session.track}}"
               (click)="dialogSession=session"
               > <!-- [routerLink]="[session.$key,session.title]" -->
            <div class="track-tag" *ngIf="session.track != 'all'">
                <md-icon *ngIf="session.track != 'Keynote'">
                {{(session.track | fireJoin:'devfest2017/tracks/' | async)?.materialicon}}
              </md-icon>{{session.track}}
            </div>
            <div class="session-content">
              <h2>{{session.title}}</h2>
              <div style="display:flex; flex-direction:row;">
                  <div *ngFor="let speaker of session.speakers" style="flex: 1 1 auto; text-align:center;">
                          <!-- <img src="{{(speaker | fireJoin: '/devfest2017/speakers/' | async)?.imageUrl}}" class="session-img"/><br> -->
                          {{(speaker | fireJoin:'/devfest2017/speakers/' | async)?.name}}
                  </div>
              </div>
            </div>
            <div class="room-tag">
              <p>{{session.room}}</p>
            </div>
          </div>
      </div>
    </div>

    <app-dialog *ngIf="dialogSession" [visible]="dialogSession">
        <div class="sessionlinks">
            <md-icon [routerLink]="[dialogSession.$key, (dialogSession.title | encodeURI)]">link</md-icon>
            <md-icon>twitter</md-icon>
        </div>
        <div class="callout">{{dialogSession.title}} </div>
        <div>{{ds.customDateFormatter(dialogSession.startTime)}} | {{ dialogSession.room}} | {{ dialogSession.track}}</div>
        <div style="display: flex;align-items: center;justify-content: center;">
            <div *ngFor="let speaker of dialogSession.speakers"  [hidden]="!speaker.confirmed" class="speaker-card">
                <div class="speaker-card-img" [style.background-image]="'url('+(speaker | fireJoin: '/devfest2017/speakers/' | async)?.imageUrl+')'" style="background-size: cover; width: 70px; height: 70px;"></div>
                <div class="speaker-content">
                    <h2>{{(speaker | fireJoin:'/devfest2017/speakers/' | async)?.name}}</h2>
                    <div>{{(speaker | fireJoin:'/devfest2017/speakers/' | async)?.company}}</div>
                    <div [hidden]="!(speaker | fireJoin:'/devfest2017/speakers/' | async)?.twitter"><a href="https://twitter.com/{{(speaker | fireJoin:'/devfest2017/speakers/' | async)?.twitter}}" target="_new">@{{(speaker | fireJoin:'/devfest2017/speakers/' | async)?.twitter}}</a></div>
                </div>
            </div>
        </div>
        <p style="border:1px solid #CCC;margin:32px;padding:32px;" [innerHTML]="dialogSession.description"></p>
        

    </app-dialog>


</section>

<p style="clear: both;"></p>
