<div *ngIf="session" style="">

    <h1 style="font-size:32px;font-family: Montserrat, sans-serif;margin-bottom:32px;">
        {{session.title}}
        <a *ngIf="auth.isAdmin | async" [routerLink]="['/',year,'admin','sessions',session.$key,'edit']">
            <img src="/a/edit.svg">
        </a>
    </h1>
    <div class="session-details">
        <div>
            <div class="speaker-list-container" style="margin-top:16px;width:325px;">
                <div *ngFor="let speaker of session.speakers | keyvalue">
                    <speaker-container [speaker]="speaker.value | getSpeaker | async" [year]="year"></speaker-container>
                </div>
            </div>
        </div>
        <div class="session-details-right" style="text-align:left;">
            <div *ngIf="session.track !== 'all'" style="font-weight:bold;margin-bottom:24px;">Track: {{ session.track }}</div>
            <div style="font-weight:bold;margin-bottom:8px;">{{ session.room}}</div>
            <div style="margin-bottom:24px;"> {{ds.customDateFormatter(session.startTime)}}</div>
            <div *ngIf="session.notes" style="margin-bottom:24px;">
                <strong>
                    <em>Note: {{session.notes}}</em>
                </strong>
            </div>
            <div *ngIf="session.renderedDescription" [innerHTML]="session.renderedDescription" style="max-width:500px;display:inline-block;">
            </div>
            <div *ngIf="auth.uid | async; else elseLoginBlock">
                <button *ngIf="!((sessionAgenda.valueChanges() | async)?.value)" (click)="addToAgenda()" class="cta" style="display:inline;">Add to My Agenda</button>
                <button *ngIf="(sessionAgenda.valueChanges() | async)?.value" (click)="removeFromAgenda()" class="cta" style="display:inline;">Remove from My Agenda</button>

                <div>
                    <h3 style="margin-top:32px;">Provide Feedback</h3>
                    <user-feedback [session]="session"></user-feedback>
                </div>
            </div>
            
            <ng-template #elseLoginBlock>
                <div  style="margin-top:64px;">
                    <h3>Login for More</h3>
                    <p>Login to save this session to your agenda, or to provide feedback after the session ends.</p>
                    <button (click)="auth.login()" class="cta" style="display:inline;">Login</button>
                </div>
            </ng-template>

        </div>
    </div>
</div>
