
<section id="" class=" ">
    <div>
        <img src="/a/images/2017bluegreen.jpg" style="width: 60%; padding-top: 2em;">
    </div>
	<h2>Sponsorship</h2>

	<div class="callout">1 Day, 6 Tracks, 30+ Speakers,<br/>A lot of Attendees</div>

	<p>
	After three years of success, DevFestMN has been established as one of the
best developer and tech community events in the Twin Cities. Last year we
sold out our event at 350 tickets, and included over 380 of participating
community members from the nation. We have confirmed the same venue at the
University of St. Thomas Minneapolis campus on *February 4th for our 2017*
event, and we would love to have you join us as a
sponsor. </p>
<p>
By helping support DevFestMN we can place your company's name and face 
prominently in front of the nearly 1,500 members of our Google Developer
Group - Twin Cities Meetup group, 600+ individuals who have attended past
events, as well as the hundreds of new attendees that will be present at
our upcoming 2017 DevFestMN event. DevFestMN attendees consist of self
selecting local developers, designers, students, managers and entrepreneurs
interested in our technology topics covered by our event, including
Android, Cloud DevOps, Web, Design, and Entrepreneurship.
</p>

<p>
Another great way to get your company's name in the forefront of our
attendees is to have your team members join as one of our DevFestMN
presenters. When we announce our call for speakers, please encourage your
team to submit a topic. We also always encourage volunteer support,
particularly this year as we plan for our expected growth.
	</p>

    <p>For more information please get in touch with 
        Lloyd Lentz <a href="mailto:cledwyn@gmail.com">cledwyn@gmail.com</a> 
        or Stefanie Fluin <a href="sjtrimble@gmail.com">sjtrimble@gmail.com</a>. 
</section>
