<section>
	  <div class="callout">Current Schedule</div>
    <h2 class="schedule-announcement">Schedule times and rooms will be updated often. <br />This page will be the most current and accurate.</h2>
    <h3 style="margin-top: 17px;">Track Legend</h3>
    <div id="track-legend">
        <div class="Keynote-leg" (click)="updateTrack('Keynote')">Keynote</div>
        <div class="Android" (click)="updateTrack('Android')"><md-icon>android</md-icon>Android</div>
        <div class="Web" (click)="updateTrack('Web')"><md-icon>web</md-icon>Web</div>
        <div class="Cloud" (click)="updateTrack('Cloud')"><md-icon>cloud</md-icon>Cloud</div>
        <div class="Design" (click)="updateTrack('Design')"><md-icon>create</md-icon>Design</div>
        <div class="IoT" (click)="updateTrack('IoT')"><md-icon>router</md-icon>IoT</div>
    </div>
    <!--
        <md-button-toggle-group multiple>
        <md-button-toggle>Keynote</md-button-toggle>
        <md-button-toggle>Android</md-button-toggle>
        <md-button-toggle>Web</md-button-toggle>
        <md-button-toggle>Cloud</md-button-toggle>
        <md-button-toggle>Design</md-button-toggle>
        <md-button-toggle>IoT</md-button-toggle>
    </md-button-toggle-group>
    -->
    <div *ngFor="let time of (timeSlots | async)?.slots" class="timeslot-block">
        <div class="timeslot-header cta all-caps">{{ ds.customDateFormatter(time)}}</div>
        <div class="schedule-timeslot-container">
          <div *ngFor="let session of (timeSlots | async)?.sessions[time]" class="bigschedulelist {{session.track}}">
            <div class="track-tag" *ngIf="session.track != 'all'">
                <md-icon *ngIf="session.track != 'Keynote'">
                {{(session.track | fireJoin:'devfest2017/tracks/' | async)?.materialicon}}
              </md-icon>{{session.track}}
            </div>
            <div class="session-content">
              <h2>{{session.title}}</h2>
              <div style="display:flex; flex-direction:row;">
                  <div *ngFor="let speaker of session.speakers" style="flex: 1 1 auto; text-align:center;">
                          <!-- <img src="{{(speaker | fireJoin: '/devfest2017/speakers/' | async)?.imageUrl}}" class="session-img"/><br> -->
                          {{(speaker | fireJoin:'/devfest2017/speakers/' | async)?.name}}
                  </div>
              </div>
            </div>
            <div class="room-tag">
              <p>{{session.room}}</p>
            </div>
          </div>
      </div>
    </div>

</section>

<p style="clear: both;"></p>
