
<section id="" class=" ">
    <div>
        <img src="/a/images/2017bluegreen.jpg" style="width: 60%; padding-top: 2em;">
    </div>

    <h2>Schedule times and rooms will be updated often. <br />This page will be the most current and accurate.</h2>
	<div class="callout">Current Schedule</div>

    <div style="display:flex;flex-direction:row;    border: solid gray 1px;">
        <div  style="flex: 1 1 auto;text-align:center;" class="" (click)="updateTrack('Keynote')">Keynote</div>
        <div  style="flex: 1 1 auto;text-align:center;" class="Android" (click)="updateTrack('Android')"><md-icon>android</md-icon> Android </div>
        <div  style="flex: 1 1 auto;text-align:center;" class="Web" (click)="updateTrack('Web')"><md-icon>web</md-icon> Web </div>
        <div  style="flex: 1 1 auto;text-align:center;" class="Cloud" (click)="updateTrack('Cloud')"><md-icon>cloud</md-icon> Cloud </div>
        <div  style="flex: 1 1 auto;text-align:center;" class="Design" (click)="updateTrack('Design')"><md-icon>create</md-icon> Design </div>
        <div  style="flex: 1 1 auto;text-align:center;" class="IoT" (click)="updateTrack('IoT')"><md-icon>router</md-icon> IoT </div>
    </div>


    <!--<md-button-toggle-group multiple>
        <md-button-toggle>Keynote</md-button-toggle>
        <md-button-toggle class='Android'>Android</md-button-toggle>
        <md-button-toggle class='Web'>Web</md-button-toggle>
        <md-button-toggle class='Cloud'>Cloud</md-button-toggle>
        <md-button-toggle class='Design'>Design</md-button-toggle>
        <md-button-toggle class='IoT'>IoT</md-button-toggle>        
    </md-button-toggle-group>-->

    <div *ngFor="let time of times | async" style="clear:both">
        <h2>{{time.label}}</h2>
        <div *ngFor="let session of schedule | async" [hidden]="!(session.startTime==time.time)">
            <div  class="bigschedulelist {{session.track}}" [hidden]="!(session.startTime==time.time)" >
            <div class="bigsschduledeets" [hidden]="!(session.startTime==time.time)">
                <h2>
                    <md-icon style="position:relative; float: right; top: 130px">{{(session.track | fireJoin:'devfest2017/tracks/' | async)?.materialicon}}</md-icon> 
                    {{session.title}} 
                </h2>
                <div>{{session.room}}</div>
                <div style="display:flex;flex-direction:row;">
                <div *ngFor="let speaker of session.speakers" style="flex: 1 1 auto;text-align:center;">
                        <img src="{{(speaker | fireJoin: '/devfest2017/speakers/' | async)?.imageUrl}}" style="width:40px;"/><br>
                        {{(speaker | fireJoin:'/devfest2017/speakers/' | async)?.name}}
                </div>
                <p style="clear:both">&nbsp;</p>
                </div>
            </div>
        </div>
        </div>

    </div>

</section>

<p style="clear: both;"></p>





