<div style="padding:32px;">
    <h1>Admin DevFestMN</h1>
    <div *ngIf="!(auth.uid | async)">
        <button type="button" (click)="auth.login()">Login</button>
    </div>
    <div *ngIf="auth.uid | async">
        <span><strong>Signed In As:</strong> {{auth.name | async}} ({{auth.uid | async}})</span>
        <br>
        <span *ngIf="auth.isAdmin">You have awesome
            <strong>admin</strong> powers > <a (click)="auth.logout()" href="#"><strong>LOG OUT</strong></a></span>

    </div>

    <div class="button-container flex">
        <a class="cta all-caps" routerLink="cfps">CFPs</a>
        <a class="cta all-caps" routerLink="reports">Reports</a>
    </div>

    <router-outlet></router-outlet>
</div>
