<h2>{{yearService.year}} CFPs</h2>
<div *ngFor="let cfp of cfps | async" style="margin:16px 0;">
    <h3>{{cfp.title}} by <a href="mailto:{{cfp.email}}">{{cfp.name}}</a></h3>
    <p>{{cfp.date | date}}</p>
    <p *ngFor="let item of cfp | keyvalue | ignoreFields:['title','name','email','date']">
        <strong>{{item.key}}:</strong> {{item.value}}</p>
    <button mat-raised-button color="warn" (click)="reject(cfp)">Reject Session (not yet implemented)</button>
    <button mat-raised-button color="primary" (click)="approve(cfp)">Approve Session (not yet implemented)</button>
</div>
