<div *ngIf="auth.isAdminOrVolunteer | async">
    <h2>Schedule</h2>
    <button (click)="editSession = {}; showDialog = true" md-raised-button color="primary">New Session</button>
    <div *ngFor="let session of schedule | async " style="border:1px solid #CCC;padding:16px;">
        <div style="font-weight: bold">{{session.title}}</div>
        <div [innerHTML]=session.description></div>
        <div><em>track:</em>{{session.track}}            
        <em>room:</em>{{session.room}}</div>
        <div>{{session.startTime}} {{session.endTime}}</div>
        <div>{{session.category}}</div>
        <div>{{session.all}}</div>
        <div>{{session.slidesUrl}}</div>
        <div>{{session.videoUrl}}</div>
        <div>
            <em>speakers</em>  
            <ul class="speakerlist">
                <li *ngFor="let speaker of session.speakers">
                    <!--{{speaker}}-->
                    <img src="{{(speaker | fireJoin: '/devfest2017/speakers/' | async)?.imageUrl}}"/>
                    {{(speaker | fireJoin:'/devfest2017/speakers/' | async)?.name}}
                </li>
            </ul>
        </div>
        <button (click)="editSession = session; showDialog = true" md-raised-button color="primary">Edit</button>
        <button (click)="deleteSession(session.$key)" md-raised-button color="secondary">Delete</button>
    </div>
</div>

<app-dialog [(visible)]="showDialog">
  <h1>Edit Session</h1>
        <form ngNoForm (submit)="saveSession(editSession)">
            <md-input [(ngModel)]="editSession.title" placeholder="Title" style="width: 100%"></md-input>
            <br>
            <textarea [(ngModel)]="editSession.description" placeholder="Description" style="width:100%; height: 4em;"></textarea>
            <br>
            <md-input [(ngModel)]="editSession.room" placeholder="Room"></md-input>
            <md-input [(ngModel)]="editSession.track" placeholder="Track"></md-input>
            <md-input [(ngModel)]="editSession.startTime" placeholder="Start Time"></md-input>
            <md-input [(ngModel)]="editSession.blocks" placeholder="# of Blocks"></md-input>
            <md-input [(ngModel)]="editSession.notes" placeholder="Last Minute Notes"></md-input>
            <div>
                <em>speakers</em>
                <ul class="speakerlist">
                    <li *ngFor="let speaker of editSession.speakers">
                        <img src="{{(speaker | fireJoin: '/devfest2017/speakers/' | async)?.imageUrl}}"/>
                        {{(speaker | fireJoin:'/devfest2017/speakers/' | async)?.name}}
                        <button type="button" (click)="deleteSpeakerFromSession(speaker)"> -X-</button>
                    </li>
                </ul>
            </div>
            <button md-raised-button type="submit" *ngIf="!editSession.$key">Create Session</button>
            <button md-raised-button type="submit" *ngIf="editSession.$key">Save Session</button>
            <br>
            <em>Add speakers from the list below</em>
            <speaker-selector [session]=editSession style="overflow: scroll; max-height: 300px; display:block"></speaker-selector>
        </form>
  <button (click)="showDialog = !showDialog" class="btn">Close</button>
</app-dialog>