<style>
    mat-form-field {
        display:block;
        margin:16px 0;
        min-width:400px;
    }
</style>

<ng-container *ngIf="sessionData | async as session; else loading">
        <h1>{{ (session.$key ? 'Edit' : 'New') }} Session</h1>
        <form ngNoForm (submit)="save(session)">
                <mat-form-field><input matInput [(ngModel)]="session.title" placeholder="Title" style="width: 100%"></mat-form-field>
                <br>
                <textarea [(ngModel)]="session.description" placeholder="Description" style="width:100%; height: 4em;"></textarea>
                <br>
                <mat-form-field><input matInput [(ngModel)]="session.room" placeholder="Room"></mat-form-field>
                <mat-form-field><input matInput [(ngModel)]="session.track" placeholder="Track"></mat-form-field>
                <mat-form-field><input matInput [(ngModel)]="session.startTime" placeholder="Start Time"></mat-form-field>
                <mat-form-field><input matInput [(ngModel)]="session.blocks" placeholder="# of Blocks"></mat-form-field>
                <mat-form-field><input matInput [(ngModel)]="session.notes" placeholder="Last Minute Notes"></mat-form-field>
                <div>
                    <em>speakers</em>
                    <ul class="speakerlist">
                        <li *ngFor="let speaker of session.speakers">
                            <img src="{{(speaker | fireJoin: '/devfest2018/speakers/' | async)?.imageUrl}}"/>
                            {{(speaker | fireJoin:'/devfest2018/speakers/' | async)?.name}}
                            <button type="button" (click)="deleteSpeakerFromSession(speaker)"> -X-</button>
                        </li>
                    </ul>
                </div>
                <button mat-raised-button type="submit" *ngIf="!session.$key">Create Session</button>
                <button mat-raised-button type="submit" *ngIf="session.$key">Save Session</button>
                <br>
                <em>Add speakers from the list below</em>
                <speaker-selector [session]=session style="overflow: scroll; max-height: 300px; display:block"></speaker-selector>


            <button type="submit" mat-raised-button>{{session.$key ? 'Save' : 'Create' }} Session</button> <button (click)="delete(session)" mat-button color="secondary">Delete</button>

        </form>
    </ng-container>
<ng-template #loading>
    Loading session data...
</ng-template>
