@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.25px;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    padding-top: 60px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #777;
    transition: 0.2s;
}

a:hover {
    color: black;
}

.all-caps {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.routeContainer {
    position: relative;
}

.routeContainer > * {
    display: block;
}

/* Header Bar */

#header-bar {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    padding: 16px;
    color: #777;
    transition: 0.2s;
    font-size: 18px;
    display: flex;
    z-index: 100;
}

#header-bar > div a,
#header-bar > div a:visited {
    padding: 16px;
    font-size: 14px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

/* Hero */

.logo {
    display: flex;
}

.logo span {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.15em;
    line-height: 24px;
}

#hero-section {
    background-image: url(/a/images/background.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

/* Layout */

section {
    text-align: center;
    padding: 0 32px 64px;
}

#home section {
    padding: 18px 32px;
    color: #333;
}

#home section:last-child {
    padding-bottom: 40px;
}

#home #map img {
    width: 768fpx;
    height: auto;
    border-radius: 8px;
}

@media screen and (max-width: 480px) {
    #home #map img {
        width: 100%;
        height: auto;
    }
}

.flex {
    display: flex;
}

/* Page Header Bannner */

header.page-header-banner {
    /* Replace later with hero image or background that matches style */
    /* background-color: #19a9e5;
    color: white; */
    padding: 18px 0;
    text-align: center;
}

/* Headers */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 36px;
    margin: 18px 0;
    font-weight: bold;
    letter-spacing: 1px;
}

h2 {
    font-size: 28px;
    margin: 18px 0;
    font-weight: bold;
    letter-spacing: 1px;
}

h3 {
    font-size: 20px;
    margin: 18px 0;
    font-weight: bold;
    letter-spacing: 1px;
}

h4 {
    font-size: 18px;
    margin: 8px 0;
    font-weight: bold;
    letter-spacing: 1px;
    color: #333
}

section h2 {
    text-transform: uppercase;
    color: #19a9e5;
}

/* section h2:after {
    margin: 17px auto 0;
    width: 140px;
    height: 1px;
    background: #19a9e5;
    content: '';
    display: block;
} */

section .callout {
    margin: 32px 0;
    font-size: 36px;
    color: #222;
    font-family: 'Montserrat', sans-serif;
}

section p {
    max-width: 945px;
    margin: 16px auto;
}


/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #19a9e5;
    padding: 32px;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: white;
}

footer section {
    padding: 18px;
}

footer a {
    color: white;
    opacity: 0.8;
}

footer a:hover {
    color: #137097;
}

footer .blocks {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

footer .blocks h5 {
    font-size: 16px;
    line-height: 1.5em;
}

footer .blocks > div {
    margin: 18px 32px;
}

footer .blocks a {
    display: block;
}

/* Buttons */

.button {
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    background-color: #2baadf;
    color: white;
    margin: 16px auto;
    padding: 8px 16px;
    display: inline-block;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

a.button,
a.button:visited {
    color: white;
}

button.button.warn {
    background-color: #E93151;
}

.button-container > * {
    margin-right: 1rem;
}

/* Call to Action */

.cta {
    padding: 8px 22px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 25px;
    color: #fff;
    background: #19a9e5;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
}
.cta-unselected {
    color: rgb(119, 119, 119);
    background: none;
}

.cta.cta-unselected:active,
.cta.cta-unselected:focus,
.cta.cta-unselected:hover {
    color: rgb(119, 119, 119);
}

.cta:active,
.cta:focus,
.cta:hover {
    color: #fff;
    text-decoration: none;
    background-color: #1696CB;
}

.cta-stroke,
.cta-stroke:focus,
.cta-stroke:hover {
    color: #19a9e5;
}

.cta-transparent {
    border: 2px solid rgba(255, 255, 255, 0);
    background-color: rgba(34, 34, 34, 0.14);
    background-clip: padding-box;
}

.cta-transparent:hover {
    border: 2px solid #fff;
    background-color: rgba(34, 34, 34, 0.05);
}

/* Sponsors */

#home-section-sponsors h3 {
    text-transform: uppercase;
}

.sponsor-bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.sponsor-bar:last-child {
    margin-bottom: 0;
}

.sponsor-bar * {
    margin: 18px 32px;
    max-height: 100px;
}

/* Speakers */

.speaker-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.speaker-card {
    display: flex;
    align-items: center;
    height: 8em;
    width: 325px;
    margin: 3px;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 16px;
}

.speaker-card .thumb {
    border: 1px solid #ccc;
    border-radius: 50%;
    background-size: cover;
    width: 70px;
    height: 70px;
}

.speaker-content {
    flex-grow: 1;
}

/* Schedule */

.schedule-timeslot-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.schedule-announcement {
    color: rgb(119, 119, 119);
}

.bigschedulelist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 13.2em;
    width: 325px;
    margin: 3px;
    border-radius: 2px;
    background-color: #f6f6f6;
}

.bigschedulelist h2 {
    font-size: 1em;
    font-weight: bold;
    text-transform: none;
    color: #333;
    margin-top: 5px;
}

.timeslot-block h2:after {
    margin-bottom: 17px;
}

.bigschedulelist p {
    margin: 3px auto;
}

.bigschedulelist h2:after {
    margin-top: 5px;
    margin-bottom: 5px;
}

.bigsschduledeets {
    opacity: 1;
    height: 100%;
    background: rgba(255, 255, 255, 0.25);
}

.session-content {
    padding: 5px;
}
.schedule a {
    color: white;
}
.schedule .session {
    color: white;
    padding: 5px;
}
.schedule tr td:first-child,
.schedule tr:first-child td,
.schedule .time {
    background-color: #eee;
    color: black;
    font-family: Montserrat, sans-serif;
    padding: 5px;
    vertical-align: top;
}

.schedule .Android {
    background-color: rgba(123, 192, 67, 1);
}
.schedule .Web {
    background-color: #ffbf00;
}
.schedule .Design {
    background-color: #f37736;
}
.schedule .Cloud {
    background-color: #ee4035;
}
.schedule .IoT {
    background-color: #6380ea;
}
.schedule .General {
    background-color: darkgray;
}
.schedule .all {
    background-color: #656f78;
}
.schedule .Keynote {
    background-color: #19a9e5;
}
.schedule .Keynote {
    background-color: #19a9e5;
}

.schedule.small .session,
.schedule.small .time {
    border-bottom: 1px solid white;
    display: block;
}
.schedule .session > div {
    padding: 3px;
}
.schedule.small .time {
    margin-top: 16px;
    padding: 5px;
}

.schedule .session .title {
    font-size: 1.2em;
}

.session-details {
    display: flex;
    max-width: 800px;
    margin: 0px auto;
}
.session-details-right {
    border-left: 5px solid #e5e5e5;
    margin-left: 50px;
    padding-left: 50px;
    margin-top: 16px;
}

/* Speaker CFP Page */
#speaker-cfp section {
    margin: auto;
    text-align: left;
}

.small {
    display: none;
}
.big {
    display: block;
}

@media (max-width: 1024px) {
    .small {
        display: block;
    }
    .big {
        display: none;
    }
}

/* Responsive - Small Screens */

@media (max-width: 600px) {
    body {
        padding-top: 0;
    }

    #header-bar {
        flex-direction: column;
        position: relative;
    }

    #home section {
        padding: 18px 32px;
    }

    .session-details {
        flex-direction: column-reverse;
    }

    .session-details-right {
        margin: 0;
        padding: 0;
        border-left: 0px;
    }

    user-feedback {
        text-align: center;
    }

    footer .blocks {
        justify-content: center;
        text-align: center;
    }
}

/* Admin Pages */
/* Admin CFP */

.cfp-block {
    margin: 16px 0;
}

.cfp-block table {
    width: 100%;
}

.cfp-block table td {
    height: 32px;
    vertical-align: top;
}

.cfp-block table tr td:first-child {
    white-space: nowrap;
}

.cfp-block table tr td:not(:first-child) {
    padding-left: 16px;
}
