@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
img {
    max-width:100%;
}
a {
    text-decoration: none;
}
.all-caps {
    text-transform: uppercase;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.center {
    text-align:center;
}

#header-bar {
    position:fixed;
    background-color:white;
    width:100%;padding:16px;
    color:#777;
    text-shadow: 0 1px 0 rgba(255,255,255,.25);
    transition: .2s;
    font-size:18px;
    display:flex;
}
#header-bar>div a, #header-bar>div a:visited {
    padding:16px;
    font-size:14px;

}
a:hover {
    color:black;
}
a {
    color:#777;
    transition: .2s;
}

#hero-section {
    background-image:url(/a/images/background.jpg);
    background-size:cover;
    height:100vh;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    padding:16px;
}

.logo {
    font-family: Montserrat,sans-serif;
    letter-spacing:.15em;
}


section {
    padding: 32px 32px 64px;
    color: #333;
    text-align: center;
}
section h2 {
    text-transform: uppercase;
    font-size:20px;
    font-weight:normal;
    color: #777;
}
section h2:after {
    margin: 17px auto 0;
    width:140px;
    height:1px;
    background:#19a9e5;
    content: "";
    display: block;
}

section .callout {
    margin:32px 0;
    font-size: 36px;
    color: #222;
    font-family: Montserrat,sans-serif;
}
section p {
    max-width:945px;
    margin:16px auto;
}
.cta {
    display: flex;
    margin-top: 20px;
    padding: 8px 22px;
    border-radius: 25px;
    color: #fff;
    background: #19a9e5;
    font-size: 18px;
    font-family: Montserrat,sans-serif;
}

.cta:active,.cta:focus,.cta:hover {
    color: #fff;
    text-decoration: none
}

.cta-stroke,.cta-stroke:focus,.cta-stroke:hover {
    color: #19a9e5
}

.cta-transparent {
    border: 2px solid rgba(255,255,255,0);
    background-color: rgba(34,34,34,.14);
    background-clip: padding-box
}

.cta-transparent:hover {
    border: 2px solid #fff;
    background-color: rgba(34,34,34,.05)
}

footer {
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
    font-size: 12px;
    text-align:center;
}
footer .blocks {
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top:32px;
}
footer .blocks h5 {
    font-size: 16px;
    color: #222;
    line-height:1.5em;
}
footer .blocks>div {
    min-width:200px;
    height:200px;
    text-align:left;
}
footer .blocks a {
    display:block;
}
.social-links {
    display:flex;
    justify-content:center;
}

.sponsor-bar {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.sponsor-bar * {
    margin:32px;
    max-height:100px;
}

.speakerlist{
    display: block;
    list-style: none;
}
.speakerlist li img{
    float: left;
    margin: 0 15px 0 0;
    height: 35px;
}
.speakerlist li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.speakerlist li {
  padding: 10px;
  overflow: auto;
}

.bigspeakerlist{
    float:left;
    display: block;
    height: 8em;
    width: 345px;
    margin: 3px;
    border-radius: 2px;
    border:1px solid #CCC;
    padding:16px;
}
.bigspeakerlistdeets {
    float: right;
    width: 250px;
    overflow: hidden;
    height: 6em;
}

.bigspeakerlistimg img {
    width: 50px;
    /*margin-right: 20px;*/
}

.bigspeakerlistimg {
    float: left;
}

.schedule-timeslot-container {
  display: flex;
  flex-wrap: wrap;
}

.schedule-announcement {
  font-size: 1em;
  text-transform: none;
}

.bigschedulelist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 13.2em;
    width: 325px;
    margin: 3px;
    border-radius: 2px;
    background-color: #f6f6f6;
}

.bigschedulelist h2 {
    font-size: 1em;
    font-weight: bold;
    text-transform: none;
    color: #333;
    margin-top: 5px;
}

.timeslot-block h2:after {
  margin-bottom: 17px;
}

.bigschedulelist p {
    margin: 3px auto;
}

.bigschedulelist h2:after {
    margin-top: 5px;
    margin-bottom: 5px;
}

.bigsschduledeets{
    opacity: 1;
    height: 100%;
    background: rgba(255,255,255,.25);
}

.session-content {
    padding: 5px;
}

.timeslot-header {
    justify-content: center;
    margin: 32px;
}

.all, .Keynote {
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.all {
    background-color: #656F78;
}

.Keynote {
  background-color: #19a9e5;
}

.Keynote, .all, .Keynote h2, .all h2 {
  color: white;
}

.Keynote h2:after, .all h2:after {
  content: none;
}

.room-tag {
  height: 40px;
  width: 100%;
  background-color: #c1c5c9;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.track-tag {
  width: 100%;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Android .track-tag, #track-legend .Android {background-color: #7bc043;}
.Web .track-tag, #track-legend .Web {background-color: #ffbb00;}
.Design .track-tag, #track-legend .Design {background-color: #f37736;}
.Cloud .track-tag, #track-legend .Cloud {background-color: #ee4035;}
.IoT .track-tag, #track-legend .IoT {background-color: #6380ea;}
.General .track-tag {background-color: darkgray;}
.all .track-tag {background-color: #656F78; text-transform: uppercase;}
.Keynote .track-tag {background-color: #19a9e5; text-transform: uppercase;}
.Keynote-leg {background-color: #19a9e5;}

#track-legend {
  display:flex;
  flex-direction:row;
  border-radius: 2px;
  margin: 32px auto;
}

#track-legend div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: white;
  flex-grow: 1;
  text-align:center;
}

#track-legend md-icon, .track-tag md-icon {
  margin-right: 5px;
}

.session-img {
  max-height: 45px;
}

@media (max-width: 600px) {
  #header-bar {
      flex-direction: column;
  }
   #header-bar span {
       display:none;
   }
}
