<div id="home">
	<div id="hero-section">
		<img src="a/images/devfestmn.svg" style="width:40%;max-width:400px;min-width:250px;" alt="DevFestMN 2017">
		<div class="event-hero-info" style="font-size:1.4em">
			<a style="display:flex;color:black">
				<div style="width:24px;margin-right:8px">
					<svg style="width:24px;height:24px" viewBox="0 0 24 24">
						<path fill="#000000" d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z"></path>
					</svg>
				</div> February 2nd, 2019</a>
            <!--<a href="https://www.google.com/maps/place/Schulze+Hall/@44.974195,-93.279928,17z/data=!3m1!4b1!4m2!3m1!1s0x52b332944d7d30f9:0x169d5a902717f38e?hl=en" -->
                <a href=""
				target="_blank" style="color:black;display:flex">
				<div style="width:24px;margin-right:8px">
					<svg style="width:24px;height:24px" viewBox="0 0 24 24">
						<path fill="#000000" d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z"></path>
					</svg>
				</div><span> University of St Thomas</span></a>
		</div>
		<div style="display:flex;justify-content:space-around;width:350px;">
            <a *ngIf="environment.showRegister" routerLink="/tickets" class="cta all-caps">Register</a>
			<a *ngIf="!environment.showRegister" href="https://bit.ly/sponsorsheet-devfestmn2017" target="_blank" class="cta all-caps">Become a Sponsor</a>
		</div>
    </div>
    <!-- <section class=" center">
		<h2>Important Details for Attendees</h2>

        <div class="callout"></div>
        <p>
            <strong>Wi-Fi:</strong><br/>
             <strong>UST-Open</strong> (interactive login, no password)
        </p>
        <p>
            <strong>Lunch:</strong><br/>
            We have two lunch sessions assigned at registration, one at 12PM and one at 1PM.
        </p>
        <p>
            <strong>Photo Contest:</strong><br/>
            Be sure to take lots of photos, and add them to <a style="color:#19a9e5;" href="http://bit.ly/devfestmn2018-photos">our shared photo album</a>. We'll have a fabulous prize for the winner of our photo contest.
        </p>
        <p>
            <strong>Event Hashtag:</strong><br/>
            Join the conversation on Twitter/Facebook/Instagram/etc using <strong>#DevFestMN</strong>
        </p>
		<p>
            <strong>Mothers' Room:</strong><br/>
            There is a Mother's Room at the back of the women's restroom on the lower level of the law school. It is a small room, but private, with a locking door. It is equipped with a comfortable chair, cabinet/side table, fold-down diaper changing table and small refrigerator.
		</p>
	</section> -->
	<section class=" center">
		<h2>About</h2>

		<div class="callout">1 Day, 8 Tracks, 50+ Speakers,<br/>600 Attendees</div>

		<p>
			<strong>Google Developer Group DevFests</strong> are the largest Google related events in the world! Each DevFest is carefully
			crafted for you by your local GDG community to bring in awesome speakers, great topics, and lots fun! While no two events
			will be exactly alike, each GDG DevFest will, at its core, be powered by a shared belief that when developers come together
			to exchange ideas, amazing things can happen!
		</p>
	</section>

	<!-- <section>
		<h2>2018 Keynote</h2>
		<div class="callout">Sara Robinson, Google</div>
	</section> -->

	<section>
		<h2>Speakers</h2>
		<p>Our call for speakers is now open. Please submit your talk via the link below. We can't wait to see hear from you!</p>
		<p style="margin-top:32px;">
			<a routerLink="/cfp" class="cta all-caps" style="display:inline;">Speak at DevFestMN 2019</a>
		</p>

	</section>

	<section>
		<h2>2018 Sponsors</h2>
		<p>This event would not be possible without our awesome sponsors.</p>
		<div class="callout">Oreo Premier Sponsors</div>
		<div class="sponsor-bar">
			<img src="/a/images/sponsors/livefront.png" alt="LIVEFRONT"/>
		</div>
		<div class="callout">Nougat Partner Sponsors</div>
		<div class="sponsor-bar">
			<img src="/a/images/sponsors/agosto.png" alt="Agosto"/>
			<img src="/a/images/sponsors/nerdery.png" alt="Nerdery"/>
			<img src="/a/images/sponsors/target.png" alt="Target"/>
		</div>
		<div class="callout">Marshmallow Community Sponsors</div>
		<div class="sponsor-bar">
			<img src="/a/images/sponsors/motorola.png" alt="Motorola"/>
			<!-- 			<img src="/a/images/sponsors/buzzfeed.gif" alt="BuzzFeed"/> -->
		</div>
		<div class="callout">General Sponsors</div>
		<div class="sponsor-bar">
			<img src="/a/images/sponsors/google.svg" alt="Google"/>
<!-- 			<img src="/a/images/sponsors/buzzfeed.gif" alt="BuzzFeed"/> -->
		</div>
		<div class="callout">Supporters</div>
		<div class="sponsor-bar">
			<img src="/a/images/sponsors/jetbrains.svg" alt="Google"/>
		</div>
	</section>

	<!--<section>
		<h2>Tickets</h2>
		<div style="text-align:center;margin:32px 0;"><iframe src="//eventbrite.com/tickets-external?eid=28756035075&ref=etckt" frameborder="0" height="416" style="max-width:945px;width:100%;" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe></div>
	</section> -->

	<section>
		<h2>Map</h2>
		<div id="map" style="height:400px;" ><a href="https://www.google.com/maps/place/Schulze+Hall/@44.9743415,-93.2792796,17z/data=!4m5!3m4!1s0x52b332944d7d30f9:0x169d5a902717f38e!8m2!3d44.974157!4d-93.2777481" target="map"><img src="/a/images/map.jpg"></a></div>
	</section>
</div>
